@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 10px;
    margin-bottom: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
}


body .container{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    border: none;
    border-top-left-radius: 26px;
    border-bottom-right-radius: 26px;
    color: #ffffff;
     background-color: rgba(22, 100, 108, 0.35); 
     backdrop-filter: blur(60px);
    box-shadow: 0px 0px 45px rgba(160, 132, 190, 0.991); 

}


header .logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;


}

header .tagline{
    font-weight: 500;
    transition:  all 0.3s ease-in;
    color: #adb6de;
}


header .headerImage{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 2rem;
    
}

 header h1{
    padding: 20px;
    font-weight: 600;
    
}

header p{
    text-align: center;
}

.container .input{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.input #taskInput{
    text-align: center;
    outline: none;
    border-radius: 4px;
    border: none;

}

.input i{
    margin-left: 12px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    
}

.input i:hover{
    background-color: rgba(78, 161, 174, 0.674);
}

ul{
    margin: 10px;
    padding: 25px;
    text-align: center;
    width: 75%;
}

li{
    padding: 0px 5px 0px 10px;
    margin: 10px;
    background-color: white;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(100, 121, 117); 
     backdrop-filter: blur(60px);
     overflow: hidden;
}

li.tasks{
    text-decoration: line-through;
    text-decoration-color: black;
    text-decoration-thickness: 2px ;
}

li:hover{
    cursor: default;
    border: 1px solid black;
}

li i{
    padding: 5px;
    text-decoration: none;
    z-index: 100;
    color: black;
}

li i:hover{
    cursor: pointer;
    background-color: rgba(239, 244, 244, 0.674);
    border-radius: 50%;
}

